version: "3.9"

services:
  db:
    image: postgres:16
    container_name: my_pocket_taskbook
    environment:
      POSTGRES_USER: illia
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: